<%= form_for :user, :url => {:controller => "databases", :action => "create"},   :html => { :class => 'form-inline' } do |f| %>

	<div class="form-group">
		<%= f.text_field :name,  :class => "form-control", :placeholder => "Database name" %>
	</div>
	<div class="form-group">

		<%= f.submit "Add", :class =>"btn btn-default"%>
	</div>
<% end %>