<div class="container">
<table class="table">
	<% if @table.size != 0 %>
		<% @table[0].each_key do |key| %>
			<th> <%= key %> </th>
		<% end %>
	<% end %>
	<tbody>
		<% @table.each do |row| %>
			<tr>
			<% row.each_value do |value| %>	
				<td>
					<%= value %>
				</td>
			<% end %>
			</tr>
		<%end%>
	</tbody>
</div>